<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="UserMapper">
 
 <select id="selectMember" resultType="mainDTO">
        SELECT name, text FROM springchat
 </select>
 
 <insert id="insertMember" parameterType="mainDTO">
 		INSERT INTO springchat(name, text) VALUES(#{name}, #{text})
 </insert>
 
</mapper>

